.art-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.art-container1 {
  width: 100%;
  height: 1661px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/depositphotos_26090513-stock-photo-green-fire-on-black-background-1500w.webp");
  background-position: center;
}
.art-navlink {
  display: contents;
}
.art-container2 {
  flex: 0 0 auto;
  width: 523px;
  height: 104px;
  display: flex;
  position: relative;
  align-items: flex-start;
  text-decoration: none;
}
.art-text {
  color: var(--dl-color-colros-gr);
  width: 521px;
  font-size: 50px;
  align-self: center;
}
.art-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.art-text1 {
  color: var(--dl-color-colros-gr);
  font-size: 100px;
  font-family: Germanica;
}
@media(max-width: 1200px) {
  .art-text {
    color: var(--dl-color-colros-gr);
  }
}
@media(max-width: 479px) {
  .art-container2 {
    position: relative;
  }
  .art-text {
    top: 32px;
    left: 0px;
    color: var(--dl-color-colros-gr);
    right: 0px;
    width: 326px;
    height: 41px;
    margin: auto;
    position: absolute;
    font-size: 30px;
    align-self: center;
    text-decoration: none;
  }
}
