.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.page-navlink {
  top: 40px;
  left: 42px;
  color: var(--dl-color-colros-gr);
  position: absolute;
  font-size: 25px;
  font-family: Germanica;
  text-decoration: none;
}
@media(max-width: 991px) {
  .page-navlink {
    top: var(--dl-space-space-twounits);
    left: 316px;
    color: var(--dl-color-colros-gr);
    position: absolute;
    font-size: 25px;
    font-family: Germanica;
  }
}
@media(max-width: 767px) {
  .page-navlink {
    top: var(--dl-space-space-twounits);
    left: 204px;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .page-navlink {
    top: 70px;
    left: 63px;
    color: var(--dl-color-colros-gr);
    position: absolute;
    font-size: 25px;
    font-family: Germanica;
  }
}
