<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <a
      href="https://www.babuscience.xyz/art"
      target="_blank"
      rel="noreferrer noopener"
      class="blog-post-card2-link"
    >
      <div class="blog-post-card2-container">
        <img
          src="public/break-1500w.jpg"
          alt="image"
          class="blog-post-card2-image"
        />
      </div>
    </a>
    <a
      href="https://www.babuscience.xyz/art"
      target="_blank"
      rel="noreferrer noopener"
      class="blog-post-card2-link1"
    >
      <div class="blog-post-card2-container1">
        <h1 class="blog-post-card2-text"><span>Babu Science</span></h1>
        <div class="blog-post-card2-container2"></div>
      </div>
    </a>
  </div>
</div>
